table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}

th {
    padding: 15px;
}

table {
    margin-bottom: 7rem;
}

html, body {
    background-color: #1e2328;
    color: #ebebeb;
    font-family: 'Work Sans', sans-serif;
}

a {
    border: 1px solid grey;
    padding: 5px;
    text-decoration: none;
}

.main_content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    color: inherit;
    transition: color 0.5s linear;
    margin: 2px;
}

.buttons:hover {
    color: #e44d26;
    border-color: #e44d26;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 0;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ebebeb;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}

input[type='radio']:checked:after {
    background-color: #e44d26;

}

.foreign_items {
    color: #fed053;
}

input, select {
    border: 1px solid grey;
    padding: 5px;
    border-radius: 0;
    font-size: inherit;
    color: inherit;
    background-color: #1e2328;
    transition: color 0.5s linear;
    margin: 2px;
}

input[type ~= "submit"]:hover {
    color: #e44d26;
}

input:hover {
    border-color: #e44d26;
}

input[type="date"], input[type="time"] {
    height: 18px;
}

li {
    margin: 10px;
}

.status {
    font-size: larger;
}

.success {
    color: #adff2f;
}
.failure {
    color: #ff1c1c;
}