
# Created by https://www.gitignore.io/api/freepascal,visualstudiocode
# Edit at https://www.gitignore.io/?templates=freepascal,visualstudiocode

### FreePascal ###
*.lps
*.compiled
*.[oa]
*.ppu
*.rst
*.cgi
*.exe
*.log
*.bak*
fp.ini
fp.cfg
fp.dsk

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/freepascal,visualstudiocode
